# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: TranSafe
  description: Online transactions made safe
  version: "1.0.0"
# the domain of the service
host: tracker.es.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/v1
produces:
  - application/json
paths:
  /transaction/details/{id}/:
    get:
      summary: Get details about the transaction of one object between a identifier and a identifier
      description: |
        This endpoint returns the state of a given transaction for an object that is bought by a identifier and a identifier.
      parameters:
        - name: id
          in: path
          description: ID of the transaction in our system.
          required: true
          type: number
          format: string
      tags:
        - Transactions
      responses:
        200:
          description: A json object with the state of the transaction
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /transaction/new/:
    post:
      summary: Add a transaction between a identifier and a identifier for a given object
      description: Creates a transaction for a given object that is part of a transaction between a identifier and a identifier
      parameters:
        - name: to_uuid
          in: query
          description: The to uuid
          required: true
          type: string
          format: uuid
        - name: from_uuid
          in: query
          description: The from uuid
          required: true
          type: string
          format: uuid
        - name: object_uuid
          in: query
          description: The object id in the system
          required: true
          type: string
          format: uuid
        - name: price
          in: query
          type: number
          format: float
          description: The object price
        - name: state
          in: query
          description: The transaction state
          required: true
          type: string
      tags:
        - Transactions
      responses:
        200:
          description: The transaction id in our system
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /transaction/state:
    post:
      summary: Change the state for a given transaction
      description: This endpoint will change the state of a given transaction between a identifier and a identifier
      parameters:
        - name: transaction_id
          in: query
          description: The transaction id
          required: true
          type: string
          format: uuid
        - name: state
          in: query
          description: The state that the transaction will be changed
          required: true
          type: string
      tags:
        - Transactions
      responses:
        200:
          description: Transaction current state
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  /transaction/history/{identifier}/:
    get:
      summary: For a given identifier return the list of transactions of that identifier in the past
      description: This endpoint returns the list of transactions made in the past by a given identifier, as a identifier or identifier and the stats of that transactions.
      parameters:
        - name: identifier
          in: query
          type: string
          format: uuid
          description: The identifier uuid
      tags:
        - Transactions
      responses:
        200:
          description: History information for the given identifier
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /transaction/stats/:
    get:
      summary: Stats globals
      description: Number of transactions, total value of transactions and number of refunded
      tags:
        - Transactions
      responses:
        200:
          description: Global stats
          schema:
            $ref: '#/definitions/TransactionStats'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /object/details/{object_id}:
    get:
      summary: For a given object, list the details about that objects
      description: For a given object, list the details about that objects
      parameters:
        - name: object_id
          in: path
          type: string
          description: The object uuid
      tags:
        - Objects
      responses:
        200:
          description: The list of details for a given object
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /object/new:
    post:
      summary: Create a object in the system for the identifier
      description: This endpoint will create a object for a given identifier
      parameters:
        - name: identifier
          in: query
          type: string
          format: uuid
          description: The identifier uuid that wants this project
        - name: name
          in: query
          type: string
          description: The object name
        - name: url
          in: query
          type: string
          description: The object state, a small text explain the state of the object, this is important for certify the object or if there is a problem with the transaction
      tags:
        - Objects
      responses:
        200:
          description: The object id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /object/list/{identifier}:
    get:
      summary: For a given identifier, list of objects that were created
      description: For a given identifier, this endpoint will show the list of objects that one identifier created
      parameters:
        - name: identifier
          in: path
          type: string
          description: The identifier uuid
      tags:
        - Objects
      responses:
        200:
          description: The list of object for a given identifier
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  SubHall:
    type: object
    properties:
      number_of_transactions:
        type: integer
        description: Number of transactions
      total_value:
        type: integer
        description: Total value
      number_of_refunded:
        type: integer
        description: number of refunded
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
