# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: TranSafe
  description: Online transactions made safe
  version: "1.0.0"
# the domain of the service
host: tracker.es.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/v1
produces:
  - application/json
paths:
  /transaction/details/{id}/:
    get:
      summary: Get details about the transaction of one object between a seller and a buyer
      description: |
        This endpoint returns the state of a given transaction for an object that is bought by a buyer and a seller.
      parameters:
        - name: id
          in: path
          description: ID of the transaction in our system.
          required: true
          type: number
          format: string
      tags:
        - Transactions
      responses:
        200:
          description: A json object with the state of the transaction
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /transaction/new/:
    post:
      summary: Add a transaction between a buyer and a seller for a given object
      description: Creates a transaction for a given object that is part of a transaction between a seller and a buyer
      parameters:
        - name: buyer_uuid
          in: query
          description: The buyer uuid
          required: true
          type: string
          format: uuid
        - name: seller_uuid
          in: query
          description: The seller uuid
          required: true
          type: string
          format: uuid
        - name: object_uuid
          in: query
          description: The object id in the system
          required: true
          type: string
          format: uuid
        - name: price
          in: query
          type: number
          format: float
          description: The object price
        - name: state
          in: query
          description: The transaction state
          required: true
          type: string
      tags:
        - Transactions
      responses:
        200:
          description: The transaction id in our system
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /transaction/state:
    post:
      summary: Change the state for a given transaction
      description: This endpoint will change the state of a given transaction between a seller and a buyer
      parameters:
        - name: transaction_id
          in: query
          description: The transaction id
          required: true
          type: string
          format: uuid
        - name: state
          in: query
          description: The state that the transaction will be changed
          required: true
          type: string
      tags:
        - Transactions
      responses:
        200:
          description: Transaction current state
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  /transaction/history/{user_uuid}/:
    get:
      summary: For a given user return the list of transactions of that user in the past
      description: This endpoint returns the list of transactions made in the past by a given user, as a seller or buyer and the stats of that transactions.
      parameters:
        - name: user_uuid
          in: query
          type: string
          format: uuid
          description: The user uuid
      tags:
        - Transactions
      responses:
        200:
          description: History information for the given user
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /object/details/{object_id}:
    get:
      summary: For a given object, list the details about that objects
      description: For a given object, list the details about that objects
      parameters:
        - name: object_id
          in: path
          type: string
          format: uuid
          description: The object uuid
      tags:
        - Objects
      responses:
        200:
          description: The list of details for a given object
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /object/new:
    post:
      summary: Create a object in the system for the user
      description: This endpoint will create a object for a given user
      parameters:
        - name: user_uuid
          in: query
          type: string
          format: uuid
          description: The user uuid that wants this project
        - name: name
          in: query
          type: string
          description: The object name
        - name: url
          in: query
          type: string
          description: The object state, a small text explain the state of the object, this is important for certify the object or if there is a problem with the transaction
      tags:
        - Objects
      responses:
        200:
          description: The object id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /object/list/{user_uuid}:
    get:
      summary: For a given user, list of objects that were created by the user
      description: For a given user, this endpoint will show the list of objects that one user created
      parameters:
        - name: user_uuid
          in: path
          type: string
          format: uuid
          description: The user uuid
      tags:
        - Objects
      responses:
        200:
          description: The list of object for a given user
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
