# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: TranSafe
  description: Online transactions made safe
  version: "1.0.0"
# the domain of the service
host: tracker.es.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/v1
produces:
  - application/json
paths:
  /transaction/rw:
    get:
      summary: Get details about the transaction of one object between a seller and a buyer
      description: |
        This endpoint returns the state of a given transaction for an object that is bought by a buyer and a seller.
      parameters:
        - name: id
          in: query
          description: ID of the transaction in our system.
          required: true
          type: number
          format: string
      tags:
        - Transactions
      responses:
        200:
          description: A json object with the state of the transaction
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Add a transaction between a buyer and a seller for a given object
      description: Creates a transaction for a given object that is part of a transaction between a seller and a buyer
      parameters:
        - name: buyer_uuid
          in: query
          description: The buyer uuid
          required: true
          type: string
          format: uuid
        - name: seller_uuid
          in: query
          description: The seller uuid
          required: true
          type: string
          format: uuid
        - name: object_id
          in: query
          description: The object id in the system
          required: true
          type: string
          format: uuid
      tags:
        - Transactions
      responses:
        200:
          description: The transaction id in our system
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /transaction/state:
    post:
      summary: Change the state for a given transaction
      description: This endpoint will change the state of a given transaction between a seller and a buyer
      parameters:
        - name: transaction_id
          in: query
          description: The transaction id
          required: true
          type: string
          format: uuid
        - name: state
          in: query
          description: The state that the transaction will be changed
          required: true
          type: string
      tags:
        - Transactions
      responses:
        200:
          description: Transaction current state
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  /transaction/help:
    post:
      summary: Ask for help of the costumer service for a given transaction
      description: This endpoint will create a channel between tha buyer, seller and TranSafe for a given transaction
      parameters:
        - name: transaction_id
          in: query
          description: The transaction id
          required: true
          type: string
          format: uuid
      tags:
        - Transactions
      responses:
        200:
          description: Successfull message
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  /transaction/history:
    get:
      summary: For a given user return the list of transactions of that user in the past
      description: This endpoint returns the list of transactions made in the past by a given user, as a seller or buyer and the stats of that transactions.
      parameters:
        - name: user_uuid
          in: query
          type: string
          format: uuid
          description: The user uuid
        - name: limit
          in: query
          type: integer
          format: int32
          description: Number of items to retrieve. Default is 5, maximum is 100.
      tags:
        - Transactions
      responses:
        200:
          description: History information for the given user
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /object/rw:
    get:
      summary: For a given user, list of objects that were created by the user
      description: For a given user, this endpoint will show the list of objects that one user created
      parameters:
        - name: user
          in: query
          type: string
          format: uuid
          description: The user uuid
      tags:
        - Objects
      responses:
        200:
          description: The list of object for a given user
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a object in the system for the user
      description: This endpoint will create a object for a given user
      parameters:
        - name: object_name
          in: query
          type: string
          description: The object name
        - name: price
          in: query
          type: number
          format: float
          description: The object price
        - name: url
          in: query
          type: string
          description: The object state, a small text explain the state of the object, this is important for certify the object or if there is a problem with the transaction
      tags:
        - Objects
      responses:
        200:
          description: The object id
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
